*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    display: flex;
    gap: 10px;
    padding: 20px;

}

.board{
    border: 1px solid #e4e4e4;
    height: 80vh;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;;

}
.items{
    margin-top: 10px;
}
.item{
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px 8px;
    margin: 10px;
    cursor: pointer;
}
#add-task-btn{
    width: fit-content;
    height: fit-content;
    padding: 8px;
    /* margin: 15px; */
    margin-left: 30px;
    border-radius: 6px;
    outline: none;
    border: none;
    background-color: aqua;
}